body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	color: #333333;
}
label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}
input {
	width: 200px;
}
.formRow {
	margin-bottom: 10px;
	
}
header {
	background: #3056a0;
	color: #ffffff;
	text-align: center;
	line-height: 70px;
	font-size: 3em;
}
section {
	border: 1px solid #999999;
	margin: 15px;
	padding: 15px;
}
footer {
	background: #3056a0;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	font-size: 0.8em;	
}
.validated:invalid {
	background:#fac3c9;
}
.validated:valid {
	background:#bdf0a8;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
td , time{
	padding: 5px;
}
thead {
	background: #3056a0;
	color: #ffffff;
}
table caption {
	font-weight: bold;
}
tfoot {
	font-size: 0.75em;
	text-align: right;
}
tbody tr:nth-child(2n + 0) {
	background: #e6e6f5;
}

.controls {
	padding:15px;
}

.overlay {
	height:100px;
	width:300px;
	border:1px solid #333333;
	background:#eeeeee;
	padding:10px;
	display:none;
	position:fixed;
	z-index:1;
}